<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Job Title:</strong>
	<%= @user.job_title %>
</p>

<h2>users</h2>
<% @user.accounts.each do |account| %>
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>
 
  <p>
    <strong>Job Title:</strong>
    <%= account.job_title %>
  </p>
<% end %>

<h2>Add a User:</h2>
<%= form_for([@user, @user.accounts.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit user Info', edit_users_path(@user) %> |
<%= link_to 'Back to users', users_path %>