<%= form_for @account do |f| %>
	<% if @account.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@account.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @account.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<p>
		<%= f.label :name, 'Company Name' %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description, 'Company Description' %><br>
		<%= f.text_area :description %>
	</p>

	

	<p>
		<%= f.submit %>
	</p>
<% end %>